.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 5px 12px;
  border: 1px solid #ddd;
  color: #868686;
  cursor: pointer;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active .page-link {
  background-color: #868686;
  color: white;
  border-color: #868686;
}

.disabled .page-link {
  color: #ddd;
  cursor: not-allowed;
}

.prev-link,
.next-link {
  padding: 5px 12px;
  border: 1px solid #ddd;
  color: #868686;
  cursor: pointer;
}

.prev-link:hover,
.next-link:hover {
  background-color: #f1f1f1;
}
